body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f6f6f6;
    font-family: 'Arial', sans-serif;
}

.input {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

.Nombre, .Apellido, .FechaNacimiento, .NombreUsuario, .PasswordContainer {
    margin-bottom: 10px;
}

.PasswordContainer {
    display: flex;
    justify-content: space-between;
}

.Password, .ConfirmPassword {
    width: 48%;
}

.Password, .ConfirmPassword, .Nombre, .Apellido, .FechaNacimiento, .NombreUsuario {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Registrar {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

.Volver {
    display: flex;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

.Volver img {
    margin-right: 5px;
}
